@page
@model WebApp.Pages.AdminDashboardModel
@{
    ViewData["Title"] = "Vista de Administrador";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!-- Scripts -->

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/controlactions.js"></script>
<script src="~/js/dashboardadmin.js"></script>
<script src="~/js/membership.js"></script>

<!-- Style Sheet -->
<link href="~/css/AdminDashboard.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<body>
    <div class="full-dashboard-container">
        <div class="options-dash-container">
            <h2>MindTickets</h2>
            <ul class="list-options">
                <li class="option-dash">
                    <button type="button" class="btn btn-outline-secondary" id="btnUsuarios"><i class="bi bi-person-lines-fill"></i> Usuarios</button>
                </li>
                <li class="option-dash">
                    <button type="button" class="btn btn-outline-secondary" id="btnEscanarios"><i class="bi bi-building"></i> Escanarios</button>
                </li>
                <li class="option-dash">
                    <button type="button" class="btn btn-outline-secondary" id="btnMembresias"><i class="bi bi-card-checklist"></i> Membresías</button>
                </li>
                <li class="option-dash">
                    <button type="button" class="btn btn-outline-secondary" id="btnEventos"><i class="bi bi-calendar-event"></i> Eventos</button>
                </li>
                <li class="option-dash">
                    <button type="button" class="btn btn-outline-secondary" id="btnTBD"><i class=" fa-solid fa-school"> TBD</i> </button>
                </li>
                <li class="option-dash">
                    <button type="button" class="btn btn-outline-secondary" id="btnLogActions"><i class="bi bi-journal-text"></i> Logs</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="info-dash" id="container">
        <div id="primerContainer" class="adm-cont">
            <i class="icon-welcome-dash fa-solid fa-wrench"></i>
            <h1 class="text-welcome-dash">Panel de Administración</h1>
        </div>
    </div>

</body>

<footer>
</footer>
