@page
@model WebApp.Pages.EventsAllModel
@{
}
<h1>Todos Los Eventos</h1>
<br />
<div class="card" style="width: 18rem;">
    <img src="~/images/upcarrusel (2).png" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Inaugración de Eventos</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Comprar Boleto</a>
        <br />
        <br />
        <a href="#" class="btn btn-primary">Ver más</a>
    </div>

    <div class="info-dash" id="container">
        <div id="primerContainer" class="adm-cont">
            <i class="icon-welcome-dash fa-solid fa-wrench"></i>
            <h1 class="text-welcome-dash" style="text-align:center">Panel de Eventos</h1>
        </div>
    </div>
</div>
