@page
@model WebApp.Pages.HomePageModel
@{
}
<section class="hero">
    <div class="container">
        <h2>Encuentra los mejores tiquetes para tus eventos favoritos</h2>
        <a href="#" class="cta-button">Comprar Tiquetes</a>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="feature">
            <img src="~/images/up-imagesdevminds-events.png" alt="Icono Eventos">
            <h3>Gran Variedad de Eventos</h3>
            <p>Descubre una amplia selección de eventos en diferentes categorías.</p>
        </div>
        <div class="feature">
            <img src="~/images/up-imagesdevminds.png" alt="Icono Tiquetes">
            <h3>Fácil Compra de Tiquetes</h3>
            <p>Compra tus tiquetes de forma rápida, segura y sin complicaciones.</p>
        </div>
        <div class="feature">
            <img src="~/images/devmindslogo.jpeg" alt="Icono Soporte">
            <h3>Soporte 24/7</h3>
            <p>Contamos con un equipo de soporte disponible en todo momento para ayudarte.</p>
        </div>
    </div>
</section>
<br />







