@page
@model WebApp.Pages.ResetPassword1Model
@{
	Layout = "";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/js/controlactions.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/resetpassword.js"></script>


<body>
	<div class="contenedor-cambio">
		<div class="cambio-container">
			<div class="cambio-form">
				<a class="navbar-brand" asp-page="/Index"><img class="img-Logo-login" src="~/images/logotipo mindstickets.png" /></a>
				<h2>Cambio de contraseña</h2>
				<br />
				<form action="#">
					<div class="form-group">
						<label for="email">Correo</label>
						<input type="text" id="txt_email" name="email" required>
					</div>
					<div class="form-group">
						<label for="password">Contraseña</label>
						<input type="password" id="txt_password" name="password" required>
					</div>
					<button type="button" id="btnUpdate">Restablecer contraseña</button>
					<a type="button" asp-page="/Index">Volver al menú</a>
				</form>

			</div>
		</div>
	</div>
</body>
