<div class="card mb-3" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="~/images/up-imagesdevminds-events.png" class="img-fluid rounded-start" style="height:100%" />
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h2 class="card-title">Title Events</h2>
				<p class="card-text"><small class="text-body-secondary">Ubicacion: Estadio Nacional</small></p>
				<h5>Martes 22 de Agosto 19:00 HRS</h5>
				<br />
				<h4 class="card-title">Detalle de Compra</h4>
				<br />
				<p class="card-text"><small class="text-body-secondary">Fecha Compra</small></p>
				<p class="card-text">Domingo 20 de Agosto 20:00 HRS</p>
				<br />
				<p class="card-text"><small class="text-body-secondary">Forma de Pago</small></p>
				<p class="card-text">SUNPE</p>
				<br />
				<p class="card-text"><small class="text-body-secondary">Pagado</small></p>
				<p class="card-text">100.000</p>
				<br />

				<div class="row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<div class="card">
							<div class="card-body" style="background-color:darkseagreen">
								<h5 class="card-title">VIP</h5>
								<p class="card-text">A32</p>
								<br />
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body" style="background-color:darkseagreen">
								<h5 class="card-title">VIP</h5>
								<p class="card-text">A67</p>
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>