
@{
    ViewData["Title"] = "UnderMaintenance";
    Layout = "~/Views/Shared/_Administrator.cshtml";
}


@section Styles {
    <!-- Styles -->
    <link href="~/css/underconstrunction.css" rel="stylesheet" />
    }

<body>
    <div class="under-construction">

        <h1>Página en Mantenimiento</h1>
        <p>Estamos trabajando en darte la mejor experiencia!</p>
        <img src="~/images/under-construction.jpg" />
    </div>
</body>