
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Administrator.cshtml";
}

@section Styles {
    <!-- Styles -->
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Usuarios</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" data-toggle="modal" data-target="#modalData" id="btnNew"><i class="bi bi-person-plus"></i> Nuevo Administrador</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Contraseña</th>
                            <th>Foto</th>                            
                            <th>IDImagen</th>                            
                            <th>Tipo</th>
                            <th>OTP</th>
                            <th>Token</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Usuario</h6>
                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtNombre">Nombre</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtName" name="Nombre">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtLastN">Apellidos</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtLastN" name="Apellidos">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                </div>
                            </div>                           
                            <div class="form-row">                                
                                <div class="form-group col-sm-6">
                                    <label for="txtPwd">Contraseña</label>
                                    <input type="password" class="form-control form-control-sm input-validar" id="txtPwd" name="Contraseña">
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnSave">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <!-- Scripts -->
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.js"></script>
    <script src="~/js/user.js"></script>
}
