@page
@model WebApp.Pages.LandingPageDevMindsModel
@{
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DevMinds - Team of Developers</title>
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
	<section class="features team-hero">
		<div class="container">
			<div class="feature">
				<div class="hero-content-team">

					<img class="img-Logo-login" src="~/images/devmindslogo.jpeg" />
					<p>Your Team of Expert Developers</p>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<h2>About Us</h2>
			<br />
			<p>
				With our slogan "A vision to the future".
				We create web applications, and develop quality and innovative software.
			</p>
			<p>
				We are a team that cares about its continuous improvement and to fulfill the line of values ​​established at the beginning of this journey.
			</p>
			<br />
			<section class="features-teams">
				<h2 style="color:black; margin:1%;text-align:center;">Team DevMinds</h2>
				<br />
				<div class="container">
					<div class="feature-team">
						<img src="~/images/profile-marcos.jpeg" />
						<h3>Marcos Mora Arróliga</h3>
						<p>Contact: mmoraa@ucenfotec.ac.cr</p>
						<p>Product Owner</p>
					</div>
					<div class="feature-team">
						<img src="~/images/profile-paola.jpeg" />
						<h3>Angie Paola Garro Martínez</h3>
						<p>Contact: agarrom@ucenfotec.ac.cr</p>
						<p>Scrum Master</p>
					</div>
					<div class="feature-team">
						<img src="~/images/profile-cristian.jpeg" />
						<h3>Cristian Salazar Gómez</h3>
						<p>Contact: csalazarg@ucenfotec.ac.cr</p>
						<p>QA and Analyst</p>
					</div>
					<div class="feature-team">
						<a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/images/logotipo mindstickets.png" /></a>
						<h3>Briefcase DevMinds</h3>
						<p>Our Project</p>
						<p>MindTickets Web Application</p>
						<p>Is a web application for the sale of tickets for events</p>
					</div>
				</div>
			</section>
			<br />
		</div>
	</section>
	<br />
	<footer class="team-footer">
		<p>&copy; 2023 DevMinds. All rights reserved.</p>
	</footer>
</body>
</html>
