@page
@model DTOs.User;
@{
	Layout = "";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/js/controlactions.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/login.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MindsTicket Login</title>
</head>
<body>
	<div class="contenedor-login">
		<div class="login-container">
			<div class="login-form">
				<a class="navbar-brand" href="@Url.Action("Index","Home")">><img class="img-Logo-login" src="~/images/logotipo mindstickets.png" /></a>
				<h2>Iniciar Sesión</h2>
				<form>
					<div class="mb-3">
						<label>Email</label>
						<input type="email" class="form-control" id="txt_email" name="Email" required />
					</div>
					<div class="mb-3">
						<label>Contraseña</label>
						<input type="password" class="form-control" id="txt_pswrd" name="Password" required />
					</div>
					<div class="mb-3">
						<div class="d-grid">
							<button type="button"  class="btn btn-primary" id="btnLogin">Ingresar</button>
							<br />
							<a class="btn btn-link" href="@Url.Action("Register","Home")">No tienes una cuenta? Registrate!</a>
							<a class="btn btn-link" href="@Url.Action("RestartPassword","Home")">Has olvidado tu contraseña?</a>
						</div>
					</div>
				</form>
				<br />
			</div>
		</div>
	</div>
</body>
</html>
