@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-verification">
	<h5>Vericar Usuario</h5>
	<p>Seleccione por donde desea verificar su cuenta y le estará llegando un código OTP por ese medio.</p>
	<div class="col-12">
		<button type="button" class="btn btn-outline-primary">Sms</button>
	</div>
	<div class="col-12">
		<button type="button" class="btn btn-outline-primary">Email</button>
	</div>
	<label for="inputOTP" class="form-label">Ingrese OTP para validar</label>
	<input type="text" class="form-control" id="inputCodeOTP">
	<br />
	<button type="button" id="btn_OTP" class="btn btn-outline-success">Verificar</button>
</div>
