@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Bootstrap -->
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/events.css" rel="stylesheet" />

<!-- StyleSheets -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<body>
    <div class="page">
        <div class="text-center">
            <h1 class="display-4">Todos los Eventos</h1>
        </div>
        <div id="event-container" class="events-container">
            <div id="cards" class="events_card-t">
            </div>
        </div>
    </div>
</body>

@section Scripts{
	<script src="~/js/eventsall.js"></script>
	<script src="~/js/selectevent.js"></script>
}