@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
		<div class="mapdiv">
			<svg viewBox="0 0 10240 7680" x="0px" y="0px" xmlns="http://www.w3.org/2000/svg">
				<defs></defs>
				<a xlink:title="1" xlink:href="">
					<path d="M2414.44,287.85L1579.47,624.964L678.809,1538.51L190.9,2722.27L190.9,4942.47L679.068,6126.94L1642.51,6981.02L2443.53,7293.52L2504.0,7141.14L2842.55,7293.45L8830.9,7293.45L10058.3,6066.36L10058.3,1599.18L8843.58,383.5L2842.68,383.499L2505.53,523.0L2414.44,287.85Z" id="noHover" fill="#f6f6f6" fill-opacity="1.0" stroke="#d4d4d4" stroke-opacity="1.0" stroke-width="3.0" />
				</a>
				<a xlink:title="2" xlink:href="">
					<path d="M3666.5,952.0L3666.5,1077.85L4602.3,1077.85L4602.3,1210.2L6461.64,1210.2L6461.64,1077.85L8324.58,1077.85L8371.98,952.0L3666.5,952.0Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="10.0" />
				</a>
				<a xlink:title="3" xlink:href="">
					<path d="M3675.05,6601.5L3675.05,6712.78L8371.95,6712.78L8334.87,6601.5L3675.05,6601.5Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="10.0" />
				</a>

				<a xlink:title="4" xlink:href="">
					<path d="M5539.1,4994.2L5540.2,6601.5L6466.08,6601.5L6466.08,4996.47L5539.1,4994.2Z" id="101" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				</a>
				<a xlink:title="5" xlink:href="">
					<path d="M5539.1,4994.2L5540.2,6601.5L6466.08,6601.5L6466.08,4996.47L5539.1,4994.2Z" id="101" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				</a>
				<path d="M6466.05,4996.45L6466.05,6601.5L7386.55,6601.5L7386.55,4996.45L6466.05,4996.45Z" id="102" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M7386.55,4996.45L7386.55,6601.5L8334.87,6601.5L8015.65,5643.55L7748.0,4996.45L7386.55,4996.45Z" id="103" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M9318.0,2713.32L9858.4,2501.77L9858.4,2438.39L9133.51,1713.5L8730.4,2124.42L9318.0,2713.32Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M8747.7,5528.6L9152.06,5932.71L9858.4,5226.37L9858.4,5174.39L9304.8,4963.4L8747.7,5528.6Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M9305.2,4963.65L9858.4,5174.39L9858.4,4205.53L9315.0,4205.5L9305.2,4963.65Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M9311.1,4209.4L9858.4,4205.53L9858.4,3461.78L9317.0,3461.75L9311.1,4209.4Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M9318.7,2715.2L9312.95,3461.75L9858.4,3461.78L9858.4,2501.8L9318.7,2715.2Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M8758.33,5537.9L8443.41,5224.75L8015.6,5644.17L8371.89,6713.39L9151.97,5933.31L8758.33,5537.9Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M8730.3,2122.55L9133.51,1713.53L8371.98,952.0L8150.3,1536.3L8730.3,2122.55Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M7400.5,1077.85L7400.5,2684.22L7719.51,2684.22L8324.58,1077.85L7400.5,1077.85Z" id="11" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M6461.65,1077.85L6461.65,2684.22L7400.47,2684.22L7400.47,1077.85L6461.65,1077.85Z" id="12" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M5533.0,1143.1L5533.0,2684.17L6461.6,2684.17L6461.6,1143.1L5533.0,1143.1Z" id="113" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M4602.3,1143.1L4602.3,2684.17L5533.0,2684.17L5533.0,1143.1L4602.3,1143.1Z" id="114" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3666.5,1077.85L3666.5,2684.22L4602.28,2684.22L4602.28,1077.85L3666.5,1077.85Z" id="115" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2637.95,2728.55L2787.05,2573.2L1906.35,1692.5L1520.43,2078.42L1339.05,2488.73L2964.08,3167.06L3037.23,2988.28L2637.95,2728.55Z" id="118" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1099.5,3030.67L1099.5,3470.98L2908.41,3470.98L2908.41,3303.23L2964.1,3167.08L1339.07,2488.75L1099.5,3030.67Z" id="119" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2908.41,4368.74L2908.41,4214.7L1099.5,4214.7L1099.5,4634.1L1341.08,5180.56L2965.54,4515.52L2908.41,4368.74Z" id="121" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2625.99,4944.78L3027.01,4673.57L2965.51,4515.55L1341.05,5180.59L1520.42,5586.35L1910.2,5976.14L2781.98,5104.36L2625.99,4944.78Z" id="122" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2277.2,6343.12L2735.39,6531.32L3365.19,4930.34L3207.81,4870.1L2935.01,5260.9L2781.98,5104.35L1910.2,5976.13L1913.75,5979.67L2277.2,6343.12Z" id="123" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3537.98,4996.47L3365.2,4930.35L2735.4,6531.33L3177.19,6712.8L3675.04,6712.8L3675.04,4996.47L3537.98,4996.47Z" id="124" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3675.05,4996.45L3675.05,6601.5L4600.05,6601.5L4600.05,4996.45L3675.05,4996.45Z" id="125" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M5539.24,4992.8L4600.05,4996.47L4600.05,6601.5L5540.2,6601.5L5539.24,4992.8Z" id="126" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3160.25,2749.99C3218.52,2726.47,3276.78,2702.95,3335.05,2679.43C3131.41,2165.63,2927.78,1651.83,2724.14,1138.02C2575.17,1199.21,2426.2,1260.4,2277.23,1321.59C2153.61,1445.21,2029.99,1568.83,1906.37,1692.44C2199.94,1986.01,2493.5,2279.58,2787.07,2573.14C2835.75,2522.42,2884.43,2471.7,2933.11,2420.97L2933.11,2420.97C3008.82,2530.65,3084.54,2640.32,3160.25,2749.99Z" id="117" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3335.02,2679.45L3335.02,2679.45C3131.38,2165.65,2927.75,1651.85,2724.11,1138.05C2875.14,1076.02,3026.16,1013.98,3177.18,951.95C3340.29,951.95,3503.4,951.95,3666.5,951.95C3666.5,1506.33,3666.5,2129.91,3666.5,2684.29C3609.15,2684.29,3529.52,2684.29,3449.88,2684.29L3449.88,2684.29L3449.94,2633.62L3335.02,2679.45Z" id="116" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2301.22,549.25L1692.79,794.9L848.77,1650.99L390.9,2761.87L390.9,4902.87L848.75,6013.78L1754.27,6809.94L2330.97,7034.93L2392.95,6878.74L2882.42,7081.27L8760.32,7081.27L9324.76,6516.97L9049.72,6241.89L8582.24,6712.8L2990.79,6712.8L2064.15,6347.79L1381.6,5665.25L1001.92,4761.2L1001.92,2903.54L1381.62,1999.53L2064.14,1316.97L2990.79,951.98L8582.26,951.98L9049.72,1422.78L9324.67,1147.82L8760.34,583.5L2882.42,583.5L2392.98,786.01L2301.22,549.25Z" id="noHover" fill="#ffffff" fill-opacity="1.0" />
				<g id="5_g">
					<g id="0_g">
						<path d="M2942.83,5258.6L3209.25,4874.89L3363.74,4934.1L3532.33,4999.56L3453.66,5458.61L2942.83,5258.6Z" id="Shape002" fill="#ffffff" fill-opacity="1.0" />
						<path d="M2628.18,4937.21L2427.28,4463.48L2905.24,4374.38L3020.89,4671.59L2628.18,4937.21Z" id="Shape003" fill="#ffffff" fill-opacity="1.0" />
						<path d="M2640.2,2735.96L3030.96,2990.24L2905.3,3297.56L2440.22,3213.39L2640.2,2735.96Z" id="Shape004" fill="#ffffff" fill-opacity="1.0" />
					</g>
				</g>
				<path d="M4497.45,6712.8L5566.91,6712.8L5566.91,7081.28L4497.45,7081.28L4497.45,6712.8Z" id="226" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2064.13,6347.79L1709.04,5992.7L1295.15,6406.62L1754.25,6809.94L2330.95,7034.93L2392.93,6878.73L2511.69,6524.08L2064.13,6347.79Z" id="223" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1381.62,1999.53L1724.59,1656.56L1280.31,1212.83L848.77,1650.99L609.05,2232.62L1187.87,2460.85L1381.62,1999.53Z" id="218" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M8582.26,951.98L8660.58,1030.86L8934.14,757.3L8760.34,583.5L7652.65,583.5L7652.65,951.98L8582.26,951.98Z" id="211" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M6628.35,6712.8L7695.15,6712.8L7695.15,7081.28L6628.35,7081.28L6628.35,6712.8Z" id="202" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M5566.9,6712.8L6628.37,6712.8L6628.37,7081.28L5566.9,7081.28L5566.9,6712.8Z" id="201" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1001.92,3397.65L390.9,3397.65L390.9,4272.89L1001.92,4272.89L1001.92,3397.65Z" id="220" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1001.92,2903.54L1187.86,2460.83L609.04,2232.6L390.9,2761.87L390.9,3397.66L1001.92,3397.66L1001.92,2903.54Z" id="219" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1001.92,4272.9L390.9,4272.9L390.9,4902.87L611.41,5437.88L1191.82,5213.33L1001.92,4761.2L1001.92,4272.9Z" id="221" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1191.81,5213.35L611.4,5437.9L848.75,6013.78L1295.47,6406.31L1709.06,5992.71L1381.6,5665.25L1191.81,5213.35Z" id="222" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M1692.79,794.9L1280.46,1212.75L1724.56,1656.55L2064.14,1316.97L2541.01,1129.14L2392.94,786.03L2301.22,549.25L1692.79,794.9Z" id="217" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2990.79,951.98L3419.75,951.98L3419.75,583.5L2882.42,583.5L2392.95,786.03L2541.02,1129.14L2990.79,951.98Z" id="216" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M6590.45,583.5L7652.67,583.5L7652.67,951.98L6590.45,951.98L6590.45,583.5Z" id="212" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3446.59,7081.27L3446.59,6712.8L2990.79,6712.8L2511.71,6524.1L2392.95,6878.75L2882.42,7081.27L3446.59,7081.27Z" id="224" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3419.75,583.5L4466.0,583.5L4466.0,951.98L3419.75,951.98L3419.75,583.5Z" id="215" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M4466.0,583.5L5525.92,583.5L5525.92,951.98L4466.0,951.98L4466.0,583.5Z" id="214" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M7695.15,6712.8L7695.15,7081.27L8760.32,7081.27L8934.87,6906.71L8661.32,6633.15L8582.24,6712.8L7695.15,6712.8Z" id="203" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M9324.66,6516.96L9049.71,6242.0L8661.35,6633.15L8934.9,6906.71L9324.66,6516.96Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3446.6,6712.8L4497.43,6712.8L4497.43,7081.28L3446.6,7081.28L3446.6,6712.8Z" id="225" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M5525.95,583.5L6590.44,583.5L6590.44,951.98L5525.95,951.98L5525.95,583.5Z" id="213" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M2908.41,3470.95L1099.5,3470.95L1099.5,4214.7L2908.41,4214.7L2908.41,3470.95Z" id="120" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M6291.08,5157.51C6241.84,5157.51,6192.59,5157.51,6143.35,5157.51C6143.35,5267.42,6143.35,5377.34,6143.35,5487.25C6192.59,5487.25,6241.84,5487.25,6291.08,5487.25L6291.08,5487.25C6291.08,5377.34,6291.08,5267.42,6291.08,5157.51Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" />
				<path d="M4914.74,5157.51C4865.49,5157.51,4816.25,5157.51,4767.01,5157.51C4767.01,5267.42,4767.01,5377.34,4767.01,5487.25C4816.25,5487.25,4865.49,5487.25,4914.74,5487.25L4914.74,5487.25C4914.74,5377.34,4914.74,5267.42,4914.74,5157.51Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" />
				<path d="M3493.52,2610.16C3383.98,2654.37,3271.57,2699.73,3162.04,2743.94C3087.24,2635.63,3015.38,2531.46,2940.58,2423.14C3109.65,2350.03,3278.72,2276.91,3447.79,2203.79L3447.79,2203.79C3463.05,2341.01,3478.25,2472.94,3493.52,2610.16Z" id="Shape166pf" fill="#ffffff" fill-opacity="1.0" />
				<path d="M3533.9,2793.46L3076.05,3277.84L3075.99,3484.47L6568.79,3484.47L6568.72,3404.01L7605.71,3404.01L7605.71,3611.04L7845.01,3611.04L7845.02,2845.26L7605.71,2845.26L7605.71,2793.48L3533.9,2793.46Z" id="FCC" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M3533.9,4867.25L3076.05,4382.88L3075.99,4176.25L6568.79,4176.25L6568.72,4256.79L7605.71,4256.79L7605.71,4049.52L7845.01,4049.52L7845.02,4815.56L7605.8,4815.56L7605.8,4867.23L3533.9,4867.25Z" id="FAA" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M5054.58,3484.47L5054.58,4176.25L6568.72,4176.25L6568.73,3484.47L5054.58,3484.47Z" id="FBB" fill="#ffffff" fill-opacity="1.0" stroke="#dddddd" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M8030.64,3041.39L9086.52,3041.39L9086.56,4617.87L8030.65,4617.79L8030.64,3041.39Z" id="noHover" fill="#262626" fill-opacity="1.0" />
				<text text-align="left" id="Text001" fill="#ffffff" fill-opacity="1.0" font-family="averta,arial,'arial bold'" font-weight="bold" font-size="362.0" transform="rotate(90.0,8779.51,3228.13)" x="8779.51" y="3551.13"><tspan text-anchor="start" x="8779.51">STAGE</tspan></text>
				<path d="M9049.72,1422.78L9324.67,1147.82L8934.16,757.3L8660.6,1030.86L9049.72,1422.78Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="8.0" />
				<path d="M4967.02,3565.29C4706.16,3565.29,4445.31,3565.29,4184.46,3565.29C4184.46,3743.19,4184.46,3921.08,4184.46,4098.97C4445.31,4098.97,4706.16,4098.97,4967.02,4098.97L4967.02,4098.97C4967.02,3921.08,4967.02,3743.19,4967.02,3565.29Z" id="noHover" fill="#dfdfdf" fill-opacity="1.0" stroke="#dfdfdf" stroke-opacity="1.0" stroke-width="10.0" />
				<text text-align="left" id="Text002" fill="#727272" fill-opacity="1.0" font-family="averta,arial,'arial bold'" font-weight="bold" font-size="181.0" x="4423.02" y="3896.23"><tspan text-anchor="start" x="4423.02">MIX</tspan></text>
				<path d="M8248.8,3728.88C7872.68,3728.88,7496.57,3728.88,7120.46,3728.88C7120.46,3796.04,7120.46,3863.21,7120.46,3930.37C7496.57,3930.37,7872.68,3930.37,8248.8,3930.37L8248.8,3930.37C8248.8,3863.21,8248.8,3796.04,8248.8,3728.88Z" id="Rectangle008" fill="#262626" fill-opacity="1.0" />
				<path d="M7365.75,3551.35C7180.23,3551.35,6994.71,3551.35,6809.19,3551.35C6809.19,3736.87,6809.19,3922.38,6809.19,4107.9C6994.71,4107.9,7180.23,4107.9,7365.75,4107.9L7365.75,4107.9C7365.75,3922.38,7365.75,3736.87,7365.75,3551.35Z" id="Rectangle007" fill="#262626" fill-opacity="1.0" />

			</svg>

			<div class="seat-map-container col-12" style="display: none;">
				<div class="seat-map col-12">
					<!-- Aqui se van poniendo los asientos -->
				</div>
			</div>
			<!-- Aqui pongo la lista de los asientos reservador antes de enviar al carro -->


		</div>
		<div class="card card-info custom-shadow seat-card" id="stretchable-card" ">
			<div class="card-header">
				<h3 class="card-title">Carrito de Compras</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
						<i class="fas fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="card-body p-0">
				<table class="table">
					<thead>
						<tr>
							<th>Nombre del Asiento</th>
							<th>Precio</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="cartData">
					</tbody>
				</table>
				<button type="button" class="btn btn-primary">Canasta de Compras</button>
			</div>

		</div>
	</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var cardElement = document.getElementById("stretchable-card");
		var initialTop = 190;

		window.addEventListener("scroll", function () {
			// Cambiar el valor de 'top' a 0 cuando se hace scroll
			cardElement.style.top = (window.scrollY >= initialTop) ? "0" : initialTop + "px";
		});
	});
</script>